body {}
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
/* Custom container */
.container-narrow, .container-narrow-admin{
  margin: 0 auto;
}

.container-narrow-admin{
    display: table;
    margin-bottom: 50px;
}

.container-narrow{
  max-width: 700px;
}

.container-narrow > hr, .container-narrow-admin > hr{
  margin: 10px 0;
}

/* Custom container for admin page */
.container-narrow-admin{
    width: 850px;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 30px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 30px 0 20px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.drop:hover {
  text-decoration:none
}
.drop {
  margin:10px 0;
  border: 1px dashed #808080;
  background-color: #fcfcfc;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}
.drop.hover {
  background-color: #f0f0f0;
}
.drop.in {
  background-color: #f0f0f0;
}
.fix_block {
  height: 40px;
}
.my_books button {
  width: 210px;
  margin:10px;
}
.nav-tabs > li > a {
  text-align: center;
}
.preview {
  float: left;
  margin: 10px 39px;  
  border: 1px solid #DDD;
}
.page_previews {
  margin: 0 auto;
  width: 155px;
  background: whiteSmoke;
  overflow-x: auto;
  padding-top: 10px;
  overflow:auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  
}
.page_previews::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.page_previews::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10),inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.page_previews::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.container_scripts::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.container_scripts::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10),inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.container_scripts::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.editor_main::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.editor_main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10),inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
.editor_main::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
.container-editor {
  overflow: hidden;
}
.lib_navbar {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
}

.editor_main .page_container {
  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: auto;*/
  padding: 20px;
}
.page {
  float: none;
  margin: 0 auto 30px;
  width: 590px;
  height: 834px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 5px #ddd;
  -moz-box-shadow: 0px 0px 5px #ddd;
  box-shadow: 0px 0px 5px #ddd;
  position: relative;
}

.colon_number{
    font-size: 12px;
    position: absolute;
}

.colon_title{
    padding: 0px;
    position: absolute;
    font-size: 12px;
}

.page_prev .colon_number, .page_prev .colon_title{
    line-height: 1em;
}

.page_prev_container {
  cursor: pointer;
  position: relative;
}
.page_previews .page_prev .column1, .page_previews .page_prev .column2, .page_previews .page_prev .column3 {
  background: rgba(153, 153, 153, 0.1);
}
.page_previews .page_prev .span6 {
  width:45%;
}
.page_previews .page_prev .span4 {
  width:30%;
}

.page_previews .page_prev {
  margin: 0 auto;
  width: 106px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 7px;
  position: relative;
  -webkit-box-shadow: 0px 0px 1px #333;
  -moz-box-shadow: 0px 0px 1px #333;
  box-shadow: 0px 0px 1px #333;
}
.page_previews .content {
  font-family: Helvetica;
  text-align: justify;
  font-size: 4px;
  line-height: 5px;
  overflow: hidden;
  position: relative;
  height: 100%;
}
.page_prev_container .num_page {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
.editor_main .content {
  position: relative;
  height: 100%;
  background: rgba(0, 255, 0, 0.1);
  overflow: hidden;
}

.editor_main {
  /* position: absolute;
  top: 60px;
  bottom: 0;
  left: 155px;
  right: 0;
  background: #F8F8F8; */
  height: 100%;
  overflow:auto;
}
.page .marked {
  z-index: 10;
  box-shadow: 0px 0px 15px #888;
}

/* properties */
.properties {
  position: fixed;
  width: 80%;
  top: 40px;
  left: 10%;
  z-index: 10;
  height: 8px;
  text-align: center;
  padding: 0;
  background-color: rgba(200, 201, 199, 0.52);
}
.show_hide_tool_bar {
  display: inline-block;
  height: 6px;
  text-align: center;
  width: 100%;
  margin: 0;
  cursor: pointer;
  bottom: 0px;
  left: 0px;
  position: absolute;
  background-color: #B9B9B9;
}
.show_hide_tool_bar i.btn {
  padding: 2px;
  line-height: 2px;
  font-size: 2px;
  top: -8px;
  margin: 0 2px;
  position: relative;
}
.btn-toolbar {
  font-size: 0;
  margin: 2px 0;
}
/* ??? */
.btn-group, .btn-divscript-group {
   position: relative;
   display: inline-block;
   font-size: 0;
   vertical-align: middle;
   white-space: nowrap;
}

.btn-divscript-group{
    margin: 0 2px;
}

#loginFrame {
  padding-top: 30px;
  margin-top: 40px;
}
#preview_span {
  overflow: auto;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  padding-right: 0;
  padding-left: 0;
}
#preview_span::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
#preview_span::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10),inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
#preview_span::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
#editor_span {
  overflow:hidden;
  border: 1px solid #EEE;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.theme_select {
  padding: 0;
  margin: 0;
}
.navbar .btn-group.theme_select{
  margin: 0;
}
.saver {
  display: inline-block;
}
.popover{
    position:absolute;
    top:0;
    left:0;
    z-index:1010;
    display:none;
    width:236px;
    padding:1px;
    text-align:left;
    background-color:#ffffff;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
    border:1px solid #ccc;
    border:1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    white-space:normal;
}
#list_themes .popover {
    width:500px;
}
#list_themes .popover img {
    margin-right: 5px;
}
.navbar .btn {
  /*margin-right: 5px;*/
}
.page .drop {
  margin:0;
  position: absolute;
  z-index: 0;
  background-color: rgba(78, 211, 3, 0.15);
  border: none;
  cursor:pointer;
}
.page .drop.ui-state-hover {
  border:1px dashed red;
}
.page .drop.ui-state-hover.ui-state-active {
  box-shadow: 0px 0px 15px green;
}
.page .drop.marked {
  box-shadow: 0px 0px 15px green;
}
.page .marked {
  z-index: 10;
  box-shadow: 0px 0px 15px red;
}
.page .marked_green {
  z-index: 10;
  box-shadow: 0px 0px 15px lime;
}
.marked_page {
  box-shadow: 0px 0px 15px red;
  z-index: 1;
}
/*---- Begin styles of Message frame ----*/
#blackShadow{
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
}
#messageFrame{
    width: 400px;
    height: 200px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
}
#innerMessageFrame{
    width: 398px;
    height: 198px;
    border: 1px solid #b7b7b7;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: red;
}
#closeButton{
    position: absolute;
    font-size: 12px;
    color: black;
    cursor: pointer;
    margin-top: -90px;
    margin-left: 380px;
}
/*---- End styles of Message frame ----*/



/*---- Start styles resizable ----*/
.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}
.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 10px;
  height: 10px;
  right: 0;
  background-color: orange;
  bottom: 0;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
/*---- End styles resizable ----*/


.content p {
  line-height: 1.5em;
  padding-bottom: 1em;
  /*text-indent: 1.5em;*/
  display: inline-block;
  float: left;
  width:100%;
}
.content p span {
  float: left;
  display: block;
  background: rgba(0, 0, 0, 0.2);
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content p {
  margin: 0;
  line-height: 1.5em;
  clear: both;
  /*float: left;*/
}
.media-object {
  width: 64px;
}
#myLib .modal-header {
  border-bottom: none;
}
#media-lib .msg {
  margin-top:10px;
}
.icon-folder, .icon-folder-2, .icon-camera-2 {
  font-size: 36px;
  height: 36px;
  width: 36px;
  line-height: 36px;
  cursor:pointer;
}
.del{
  cursor:pointer;
}
.content .illustration {
  text-indent: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
.content .illustration img{
  width: 100%;
  height: 100%;
}
.controls {
  width: 50px;
}
.dropcap_form .controls {
  width: inherit;
}
.dropcap_form .controls.brd {
  border-top: 1px solid #CCC;
}
.controls span {
  margin-left: 6px;
  cursor:pointer;
}
.controls span:first-child {
  margin-left: 0;
}

#myProgress.progress-bar {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  
  opacity: 0.8;
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
  
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
#myProgress .modal-body {
    background: #fff;
    width: 400px;
    margin: 0 auto;
    top: 20%;
}

.content .video {
  text-indent: 0;
  padding: 0;
}
.modal-header h3 {
  display: inline-block;
}
.navbar .lib_navbar .btn {
  margin-top: 10px;
}
 .navbar #list_themes .btn-group {
   margin-top: 0;
 }
 .green {
   color:green;
 }
 .red {
   color:red;
   text-align: left;
   display: inline-block;
 }

.divscript img{
  width: inherit;
  height: inherit;
 }

.saveButton{
  width: 60px;
  position: absolute;
  left: 3px;
}
.navbar .btn-group.lib_buttons{
  margin-top: 0px;
}
.widget {
  overflow: hidden;
  width: 60px;
  margin: 0;
  position: absolute;
  cursor:move;
}

.tableScripts{
    font-weight: bold;
    background-color: #ADBDBD;
    color: #ffffff;
}

.tableScripts tr{
    cursor: pointer;
}

.tableScripts tr:hover{
    background-color: #009999;
}

.divscript_play{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  cursor: pointer;
}

.divscript_play img{
  width: inherit;
  height: inherit;
}

.divscript_play:hover{
  opacity: 1;
}
.masthead .pull-right.settings i{
  position: relative;
  /*left: -7px;*/
}
.masthead .pull-right.settings{
  margin-top: 20px;
  margin-right: 20px;
}
#settingsModal {
  width: 700px;
  margin-left: -360px;
  opacity: 1;
}

#admin_content{
    width: 100%;
    display: table;
}

#subButtonsCont{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.subButton{
    font-size: 15px;
    margin-left: 10px;
    font-weight: normal;
    color: gray;
    cursor: pointer;
}

.subButton:hover{
    color: red;
}

.newFolder{
    cursor: pointer;
}

.newFolder:hover{
    color: #bd362f;
}

.btn-file {
  position: relative;
  overflow: hidden;
  margin: 10px 4px 10px 0px;
  clear: both;
  float:left;
}
.btn-file input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.footnotes {
  border-top: 1px solid #333;
  width: 100%;
  clear: both;
  position: absolute;
  bottom:0;
  left:0;
  height:5px;
  background:#aaa;
  overflow: hidden;
  cursor:pointer;
}
.footnote{
  padding-top: 8px;
}
.dropcap_letter{
  overflow:hidden;
  position:absolute;
}
.dropcap_img_container {
  position: absolute;
}
.dropcap_img_container img {
  /*position: absolute;*/
  margin:0;
  padding:0;
  border:none;
}
.superscript {
  position: absolute;
  display: block;
  background: none;
  cursor:pointer;
}
.content p .hav_footnote {
  float: none;
  display: initial;
  position: relative;
  background: none;
}

.admin_container{
    width: 100%;
    display: table;
}

.admin_table{
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    color: #444444;
}

.admin_table tr.list{
    cursor: pointer;
    background-color: #e5e5e5;
    border: 4px solid white;
}

.admin_table tr.list:hover{
    background-color: #c4e3f3;
}

.admin_table tr.title_list{
    cursor: default;
    background-color: #b7b7b7;
    border: 4px solid white;
    color: #ffffff;
    font-weight: bold;
}

.admin_table .admin_id{
    width: 40px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

.admin_table .admin_text{
    text-align: left;
    vertical-align: middle;
    font-style: oblique;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
}
.preview_table.table-bordered {
  -webkit-border-radus:0;
  border-radius:0;
  -moz-border-radius:0;
}
.preview_table.table-bordered tbody:first-child tr:first-child > td:first-child,
.preview_table.table-bordered tbody:last-child tr:last-child > td:first-child, 
.preview_table.table-bordered tbody:first-child tr:first-child > td:last-child {
  -webkit-border-radius:0;
  border-radius:0;
  -moz-border-radius:0;
}
.preview_table.table{
  margin:0;
  padding:0;
}
.preview_table.table td {
  padding: 0px;
  line-height:inherit;
}
.padding-zero.table td, .padding-zero.table th {
  padding:0;
}
.bar_container{
    width: 87%;
    height: 10px;
    margin-left: 20px;
    margin-bottom: 2px;
}
.dropdown-menu li > a:hover {
  cursor: pointer;
}
.form-inline input {
  height:12px;
  font-size: 12px;
  width:50px;
}
.delete {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.delete:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
button.delete {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.row-fluid .search{
  /*margin-top: -30px;*/
}
.row-fluid .search input {
  height: 24px;
  line-height: 24px;
  min-height: 24px;
  margin-right: 3px;
}
.row-fluid .search select {
  height: 24px;
  line-height: 24px;
  min-height: 24px;
  font-size: 11px;
  margin-right: 3px;
}
.row-fluid .search option{
  height: 24px;
  line-height: 24px;
  min-height: 24px;
  font-size: 11px;
}
.navbar .lib_navbar .search .btn{
  margin-top: 5px;
}
.search_result {
  width: 65%;
  height: 90%;
  top: 7%;
  right: 6%;
  position: absolute;
  overflow: auto;
  border-radius: 8px;
  padding: 10px 50px;
  background-color: rgb(213, 213, 213);
}
.one_result{
  font-size:12px;
  border-bottom: 1px solid blue;
}
.gotopage {
  cursor:pointer;
}
.close_results {
  position: absolute;
  top:10px;
  right:10px;
  padding: 0;
  width: 50px;
  height: 10px;
  font-size: 12px;
  cursor:pointer;
}
.collaps_result {
  position: absolute;
  top:5%;
  left:5px;
  padding: 0;
  width: 5px;
  height: 90%;
  font-size: 12px;
  cursor:pointer;
  background-color: #ccc;
}
fieldset.filter_default_content {
  margin-top: -12px;
  padding-left: 5px;
}
fieldset.filter_default_content label {
  line-height: 1em;
}
fieldset.filter_default_content label small{
  line-height: 1em;
  font-size: 11px;
}


.lineImages::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.lineImages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10),inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
.lineImages::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.containerImages::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.containerImages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10),inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
.containerImages::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
.audio {
  background: green;
}
.audio audio {
  width: 100%;
  height: 100%;
}
.img_descr {
  position: absolute;
  bottom: 0px;
  left:0px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
  color:#fff;
}
.edit_latex{
  position: absolute;
  width:100%;
  height:100%;
  right:0;
  top:0;
}
.edit_latex input{
  display: none;
}
.icon-edit {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: -96px -72px;
  background-repeat: no-repeat;
  position: absolute;
  right: -3px;
  top: -2px;
}
.content p span.yellow {
  float: none;
  background: #FF0;
  display: inline-block;
}

#fogLoad{
    width: 100%;
    height: 2000px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    opacity: 0.5;
    text-align: center;
}

.preloaderRoll{
    width: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/preloader.gif");
    background-repeat: no-repeat;
    position: absolute;
}
.tag_form {
  position: absolute;
  background: #fff;
}
.tag_form .form-inline {
  padding:4px;
}
.modal {
  width:90%;
  left:5%;
  margin-left: 0;
}

.folder_icon, .new_folder_icon, .open_folder_icon{
    width: 55px;
    height: 45px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.folder_icon{
    background-image: url("../img/folder_icon.png");
}

.new_folder_icon{
    background-image: url("../img/new_folder_icon.png");
}

.open_folder_icon{
    background-image: url("../img/open_folder_icon.png");
}

.clock_icon{
    width: 30px;
    height: 30px;
    background-image: url("../img/clock.gif");
}

.page_edit_ico {
  display: none;
  cursor: pointer;
  position: absolute;
  top:0;
  right: 0;
}
.page:hover .page_edit_ico{
  display: block;
}
.page-menu {
  position: absolute;
  top:-2px;
  right: -120px;
  width: 100px;
  height: 100px;
}
.pa {
  position: absolute;
}
.wplaceholder {
  border: 1px dashed #333;
  background: rgba(239, 255, 239, 0.5);
  text-align: center;
  cursor: pointer;
  font-size: 3em;
  line-height: 3em;
}
.wplaceholder.hover {
  background: rgba(239, 255, 239, 0.8);
}
.wplaceholder-label {
  cursor: pointer;
}
.popover-title .btn.btn-mini {
  line-height: 1.5em;
}

