.script_container{
    width: 96%;
    height: 300px;
    resize: none;
}

.script_button{
    width: 100px;
    margin-bottom: 15px;
}

.script_name{
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
}

.script_name input{
    width: 83%;
    height: inherit;
    border: 1px solid #bfbfbf;
    float: left;
    margin-right: 5px;
}

.script_del_cell{
    width: 150px;
    text-align: center;
}