.stat_score{
    position: absolute;
    width: 300px;
    background: #fff;
    margin-top: -30px;
    margin-left: 290px;

    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    display: table;
}

.stat_score:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    top: 14px;
    border-width: 10px 10px;
    border-style: solid;
    border-color: white white transparent transparent;
}

.stat_score .title_score{
    width: 100%;
    margin-top: 15px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #363636;
}

.stat_score .title_turn{
    margin-left: 20px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #363636;
}

.score_container{
    width: 87%;
    height: 12px;
    margin-left: 20px;
    padding-top: 5px;
    border-top: 1px solid #363636;
}

.score_bar_turn, .score_bar_was{
    height: 100%;
    float: left;
}

.score_bar_turn{
    background-color: #46a546;
    color: #ffffff;
}

.score_bar_was{
    background-color: #bd362f;
}

.score_bar_number{
    font-size: 10px;
    position: relative;
    margin-left: 7px;
    top: -4px;
}

.score_bar_positions{
    height: 10px;
    font-size: 11px;
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.stat_id{
    width: 100px;
    font-size: 12px;
    text-align: center;
}

.stat_full_content{
    width: 300px;
    height: 10px;
    font-size: 12px;
    font-style: italic;
    color: #363636;
    background-color: white;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: table;
    position: absolute;
    z-index: 999;
}

.stat_full_content div{
    width: 280px;
    margin: 10px;
}