// TODO состояния
.btn {
	border:1px solid #494949;
	display: inline-block;
	border-radius:19px;
	padding: 0 19px;
	height: 38px;
	line-height: 38px;
	font-size: 18px;
	cursor: pointer;
	color:$text-color;
	font-family: $text-ff;
	&:hover {
		color:$text-color-w;
	}
	&:first-child {
		margin-right: 20px;
	}
}

.button {
	font-size: 12px;
	color:#4b4b49;
	height:29px;
	line-height:29px;
	padding: 0 22px;
	text-align: center;
	cursor:pointer;
	display: inline-block;
	border-radius:3px;
	background-color:#a3a4a6;
	background: linear-gradient(to top, #97989a 50%, #a3a4a6 50%);
}