#top {
	position: absolute;
	top: 0px;	
	left: 0px;
	width: 100%;
	height: $top;
	overflow: hidden;
	padding: 37px 0 0;
}
#main {
	position: absolute;	
	top: $top - 10px;
	left: 200px;
	right: 170px;
	bottom: $bottom;
	overflow-x: hidden;
	overflow-y: auto;
	width: 900px;
	min-width: 600px;
	.content {
		color:#000;
		padding: 0 0 10px 0;
		margin-right:0;
		text-align: center;
		.page {
			.content {
				position: relative;
				margin: 85px 145px;
				text-align:left;
				overflow: hidden;
			}
		}
	}
	@include circle-scroll(24px);
}
#left-side {	
	position: absolute;	
	top: $top - 10px;
	left: 20px;
	bottom: $bottom;
	width: 160px;
	overflow: auto;
	@include circle-scroll(24px);
	.content {
		padding-left:5px; 
		padding-top: 0;
	}
}
#right-side {
	position: absolute;	
	top: $top - 10px;
	right: 30px;
	bottom: 33px;
	width: 113px;
	overflow: hidden;
	.content {
		padding: 0;
		display: table;
		height: 100%;
		width: 100%;
	}
}
#footer {
	position: absolute;
	left: 10px;
	bottom: 50px;
	height: 30px;
}