
@mixin em-link() {
	display: inline-block;
	span{
		display: inline-block;
		em {
			display: inline-block;
			margin-left: 3px;				
			cursor: pointer;
		}
	}
}

@mixin plain-text() {
	font-size: 14px;
	font-family: $text-ff;
	color:$text-color;
}

@mixin gray-btn() {
	color:#fff;
	background: #97989a;
	border-radius: 11px;
	padding: 0 8px;
	height: 22px;
	line-height: 22px;
}

@mixin circle-scroll($radius) {
	&::-webkit-scrollbar {
		width: $radius;
	}
	&::-webkit-scrollbar-track {
		@include background(linear-gradient(left,
						transparent 0%,
						transparent $radius*0.47,
						#000000 $radius*0.5,
						#000000 $radius*0.5,
						transparent $radius*0.53,
						transparent 100%)
				);
	}
	 
	&::-webkit-scrollbar-thumb {
		@include background(
			radial-gradient(center, circle cover, 
				#9f9ea3 0%,
				#8f9aa8 $radius*0.4,
				rgba(0,0,0,0.2) $radius*0.45,
				rgba(0,0,0,0) $radius*0.55,
				rgba(0,0,0,0) $radius
			)
		);
		min-height: $radius;
	}
}

@mixin blue-gradient {
	@include filter-gradient(#0050b4, $blue-bgr, vertical);
	@include background-image(linear-gradient(top, #0050b4 0%,$blue-bgr 100%));
}

// Drop shadows
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

// Transitions
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// Animations
@mixin animation($animation) {
  -webkit-animation: $animation;
          animation: $animation;
}
@mixin animation-name($name) {
  -webkit-animation-name: $name;
          animation-name: $name;
}
@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
          animation-duration: $duration;
}
@mixin animation-timing-function($timing-function) {
  -webkit-animation-timing-function: $timing-function;
          animation-timing-function: $timing-function;
}
@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
          animation-delay: $delay;
}
@mixin animation-iteration-count($iteration-count) {
  -webkit-animation-iteration-count: $iteration-count;
          animation-iteration-count: $iteration-count;
}
@mixin animation-direction($direction) {
  -webkit-animation-direction: $direction;
          animation-direction: $direction;
}

@mixin gradient-striped($color: #555, $angle: 45deg) {
  background-color: $color;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient($angle, rgba(255,255,255,.15) 25%, rgba(0,0,0, 0.0) 25%, rgba(0,0,0, 0.0) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, rgba(0,0,0, 0.0) 75%, rgba(0,0,0, 0.0));
}


// Typography
// -------------------------
@mixin text-emphasis-variant($color) {
  color: $color;
  a:hover {
    color: darken($color, 10%);
  }
}

// Progress bars
// -------------------------
@mixin progress-bar-variant($color) {
  background-color: $color;
  .progress-striped & {
    @include gradient-striped();
  }
}

.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.dn, .hide {
	display: none;
}