// Ex: 14px base font * 85% = about 12px
small,
.small  { font-size: 85%; }

// Undo browser default styling
cite    { font-style: normal; }

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }

// Contextual colors
// .text-muted { color: $text-muted; }
.text-primary {
  @include text-emphasis-variant($brand-primary);
}
.text-success {
  @include text-emphasis-variant($state-success-text);
}
.text-info {
  @include text-emphasis-variant($state-info-text);
}
.text-warning {
  @include text-emphasis-variant($state-warning-text);
}
.text-danger {
  @include text-emphasis-variant($state-danger-text);
}