<img src="<%= full_path %><%= name %>">
<input hidden="hidden" id="media-pic-<%= name %>" name="media-pic" data-src="<%= full_path %><%= name %>" type="radio">
<label for="media-pic-<%= name %>"><%= name %></label>