<h2>Место на странице</h2>
<div class="page_placeholders">
	<ul>
		<li class="plholder1" data-placement="tl"><span></span></li>
		<li class="plholder2" data-placement="tr"><span></span></li>
		<li class="plholder3" data-placement="bl"><span></span></li>
		<li class="plholder4" data-placement="br"><span></span></li>
		<li class="plholder5" data-placement="bl"><span></span></li>
	</ul>
</div>
<a class="btn paste">Вставить</a>
<!-- <a class="btn upload">Загрузить</a> -->
<input id="fileupload" type="file" style="display: none; visibility: hidden;" name="file_name" data-url="" >
