#image_properties
  position: absolute
  padding: 15px
  background: #fff
  border: 1px solid gray
  .preloader
    display: none
    color: $silent-color
    $preloader-size: 32px
    background: image-url("preloader.gif") no-repeat
    padding-left: $preloader-size + 10
    line-height: $preloader-size

  .hint
    +adjust-font-size-to(12px)
    +leader(.5)

  .error
    display: none    
    color: red
