#page_properties
  position: absolute
  padding: 15px
  background: #fff
  border: 1px solid gray
  top: 50px
  left: 295px
  +single-box-shadow
  +adjust-font-size-to(14px)

  h3
    +adjust-font-size-to(20px)
    +trailer(0.5)
  button
    display: block
    margin: 5px 0

  .paddings
    +trailer
    .input
      label
        margin-right: 10px
        width: 50px
        display: inline-block
      input[type=number]
        width: 50px
        margin-right: 5px

  .color
    +trailer
    .colors
      +clearfix
      .colorRect
        width: 15px
        height: 15px
        float: left
        cursor: pointer
        margin: 0px

  .image
    .preloader
      display: none
      color: $silent-color
      $preloader-size: 32px
      background: image-url("preloader.gif") no-repeat
      padding-left: $preloader-size + 10
      line-height: $preloader-size

    .hint
      +adjust-font-size-to(12px)
      +leader(.5)

    .error
      display: none    
      color: red
