#editor
  .editor_main
    .page_container
      padding: 20px


.page
  margin: 0px auto
  width: 590px
  height: 834px
  border: 1px solid $silent-color
  +single-box-shadow
  position: relative
  .interface
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0

  .placeholder
    position: absolute
    border: 1px dashed green
    // background: #ccc

  .page_content
    width: 100%
    height: 100%
    overflow: hidden
    position: absolute
    left: 0
    top: 0
    pointer-events: none
    .widget
      pointer-events: auto
      
  // content styles
  .chapter_title
    +trailer
  p
    +trailer
    &:last-child
      +trailer(0)
