#editor
  .editor_main
    .page_toolbar
      = page-toolbar-button
        +button
        width: $page-toolbar-height
        height: $page-toolbar-height
        line-height: $page-toolbar-height
        text-align: center
        float: left
        background: adjust-lightness(#ccc, 10)
        color: $silent-color
      .layout
        .option
          +page-toolbar-button
          &.selected
            background: #ccc
          &.one
          &.two
      .pagination
        position: absolute
        right: 0
        top: 0
        div
          +page-toolbar-button
          &.prev
          &.info
            width: auto
          &.next
