$page-previews-padding: 20px
$page-preview-image-selected-border-width: 3px
$page-preview-image-width: $page-previews-width - $page-previews-padding * 2

#editor
  .page_previews
    .preview
      margin: $page-previews-padding
      &.selected
        .image
          border: $page-preview-image-selected-border-width solid $silent-color
          margin: 0
      .image
        +button
        background: #ccc
        width: $page-preview-image-width - 2 * $page-preview-image-selected-border-width
        height: $page-preview-image-width * $page-ratio - 2 * $page-preview-image-selected-border-width
        margin: $page-preview-image-selected-border-width
        .page
          +transform(scale(0.1864406779661017))
      .number
        text-align: center
        color: $silent-color   
