.table_of_content
  h2
    +adjust-font-size-to(22px)
    font-weight: bold
    +trailer(0.5)
  .table_of_content_item
    +trailer(0.5)    
    border-bottom: 1px dashed #666
    cursor: pointer
    +clearfix
    .chapter_name
      float: left
    .page_number
      float: right

    &:hover
      border-bottom: 1px dashed #ccc
