#text_styles
  position: absolute
  padding: 15px
  background: #fff
  border: 1px solid gray
  +single_box_shadow

  .blockFonts
    // width: 210px
    // height: 44px
    padding-top: 3px
    
  .fontSizeStick, .fontSizeStickActive
    width: 5px
    height: 42px
    display: inline-block
    background-color: #ebebeb
    margin-right: 3px
    border-radius: 2px
    cursor: pointer
    border: 1px solid #c2c2c2
    
  .fontSizeStickActive
    background: -moz-linear-gradient(top, #fefcea, #f1da36)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36))
    background: -webkit-linear-gradient(top, #fefcea, #f1da36)
    background: -o-linear-gradient(top, #fefcea, #f1da36)
    background: -ms-linear-gradient(top, #fefcea, #f1da36)
    background: linear-gradient(top, #fefcea, #f1da36) 
    border: 1px solid #fdc689
    
  #fontSizeNumber
    width: 41px
    height: 38px
    float: right
    font-weight: bold
    margin-left: 5px
    text-align: center
    font-size: 22px
	
  .colorRect
    width: 15px
    height: 15px
    float: left
    cursor: pointer
    margin: 0px
    
  #fontSelect
    width: 200px
    margin-left: 5px
  
  #buttonsStyleContainer
    width: 212px
    display: table-cell
    text-align: center
    vertical-align: top
  
  .styleFontButton
    width: 25px
    height: 25px
    text-align: center
    border: 1px solid black
    border-radius: 5px
    cursor: pointer
    margin-top: 0px
    margin-right: 5px
    display: inline-block
	
  #styleBold
    font-weight: strong
	
  #styleItalic
    font-style: italic

  #styleUnderline
    text-decoration: underline