#editor
  .toolbar
    +clearfix
    .theme_select
      padding: 17px
      float: left
      label, select
        font-size: 16px
        line-height: 16px
      label
        display: inline-block
        margin-right: 10px
    .save
      float: right
      margin-right: 2em
      padding-top: 18px

    .properties
      float: left
      margin-left: 2em
      padding-top: 18px
