.widget
  position: absolute
  &.authors, &.book_title, &.chapter_title
    // overflow: hidden
  &.text
    overflow: hidden
  &.selected
    border: 1px dashed red
    margin: 0
    cursor: move
  margin: 1px