#file_upload
  display: none
  +first_step_panel
  .hint
    +adjust-font-size-to(12px)
    +leader(.5)
  .drop
    +adjust-font-size-to(14px)
    padding: 30px
    color: $silent-color
    border: 1px $silent-color dashed
    &.highlighted
      border: 1px $loud-color dashed
      background: adjust-lightness($loud-color, 50)
      color: #000
    a
      color: $loud-color
  .error
    display: none    
    color: red
    +leader(0.5)

  .summary
    display: none
    +leader
    $icon-size: 90px
    height: $icon-size
    +container
    .icon
      background: image-url("file-icon-docx.png") no-repeat
      width: $icon-size
      height: $icon-size
    .name
      line-height: $icon-size
      +move_to($icon-size + 15, 0)
    .size
      +adjust-font-size-to(9px)
      +move_to($icon-size + 15, 55px)
    .progress
      display: none
      +move_to(0, 31px, true)
      color: $silent-color
      $preloader-size: 32px
      background: image-url("preloader.gif") no-repeat
      padding-left: $preloader-size + 10
      line-height: $preloader-size
