#select_theme
  display: none
  +first_step_panel
  +clearfix
  .themes
    +clearfix
    .theme
      +button
      float: left
      margin: 0 0 20px 20px
      &:first-child
        margin-left: 0
      &.selected
        position: relative
        &:after
          +rhombus(15px, 50px, 198px, $silent-bg-color)
        .image
          padding: 0
          border: 3px solid $silent-color
      .image
        padding: 3px
        background: $silent-bg-color
        display: block
        img
          display: block
      .name
        text-align: center
        +adjust-font-size-to(14px)

  .theme_preview
    background: $silent-bg-color
    +clearfix
    padding: 35px 0 0 35px
    .preview
      float: left
      margin: 0 35px 35px 0
    
  .next
    display: none
    +rounded_button
    float: right
    +leader
