$page-ratio: 1.4142 // A4
$toolbar-height: 60px
$page-toolbar-height: 40px
$page-previews-width: 150px

@import editor/toolbar
@import editor/page_previews
@import editor/page_toolbar
@import editor/page
@import editor/widget
@import editor/image_properties
@import editor/page_properties
@import editor/table_of_content

body, html
  height: 100%

#editor
  display: none
  height: 100%
  position: relative
  background: pink  
  .toolbar
    height: $toolbar-height
    background: #ccc
  .page_previews
    position: absolute
    top: $toolbar-height
    bottom: 0
    width: $page-previews-width
    background: $silent-bg-color
    overflow: scroll
  .editor_main
    position: absolute
    top: $toolbar-height
    bottom: 0
    left: $page-previews-width
    right: 0
    background: adjust-lightness($silent-bg-color, 1)
    .page_container
      position: absolute
      top: 0
      bottom: $page-toolbar-height
      left: 0
      right: 0
      overflow: scroll
    .page_toolbar
      height: $page-toolbar-height
      position: absolute
      bottom: 0
      left: 0
      right: 0

#click_catcher
  position: absolute
  left: 0
  top: 0
  background: #ccc
  opacity: .1
  width: 100%
  height: 100%
  display: none