@import compass/typography
@import compass/css3/border-radius
@import compass/css3/user-interface

= button
  cursor: pointer
  +user-select(none)

= container
  position: relative

= move_to($x, $y, $right: false, $bottom: false)
  position: absolute
  
  @if $right
    right: $x    
  @else
    left: $x

  @if $bottom
    bottom: $y    
  @else
    top: $y

= rounded_button
  +button
  padding: 10px 20px
  +border-radius(25px)
  background: #ccc
  color: #454545

= first_step_panel
  width: 600px
  margin: 50px auto 0
  background: #fff
  padding: 30px
  
  h1
    +adjust-font-size-to(25px)
    +trailer(0.5)

= rhombus($half-height: 15px, $arrow-left-position: 0, $arrow-top-position: 0, $background-color: #ccc)
  content: ""
  display: block
  background: $background-color
  width: $half-height * sqrt(2)
  height: $half-height * sqrt(2)
  +transform(rotate(45deg))
  position: absolute
  $zero: $half-height * (1 - sqrt(2) / 2)
  top: $zero + $arrow-top-position
  left: $zero + $arrow-left-position

= ios-style-popover($arrow-size, $arrow-left-position, $background-color)
  background-color: $background-color
  position: relative
  &:before
    +rhombus($arrow-size, $arrow-left-position, - $arrow-size, $background-color)
