doctype html
html
  head
    title Libeditor
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    link href="/static/stylesheets/application.css" type="text/css" rel="stylesheet"
    javascript:
      window.ENV = { api_url: "#{ENV["API_POINT"]}" }
    script src="/static/javascripts/application.js" type="text/javascript" 

  body
    #my_books
      h1 Мои книги
      .books
      
    #file_upload
      h1 Загрузите файл:
      .drop
        | Перетащите файл сюда или 
        a#browse_for_files href="#" выберите с диска
      .hint Поддерживаются только *.docx файлы, максимальный размер 1Mb.
      
      .summary
        .icon
        .name
        .size
        .progress Загружается

    #select_theme
      h1 Выберите тему оформления:
      .themes
      .theme_preview
      .next Продолжить

    #editor
      .toolbar
        .theme_select
          label for="theme" Тема оформления
          select name="theme"
            option value="PlainTheme" Plain
            option value="ClassicTheme" Classic
        .properties
          button Свойства страницы
        .save
          button Сохранить
      .page_previews
      .editor_main
        .page_container

    #click_catcher
    
    #text_styles
      .blockFonts id="fontSize"
      .blockFonts id="fontColor" style="height: 15px;"
      .blockFonts id="fontFamily" style="height: 30px;"
      #buttonsStyleContainer
        .styleFontButton id="alignleftcont"
          img src="/static/images/align_left.gif" id="styleAlignLeft"
        .styleFontButton id="aligncentercont"
          img src="/static/images/align_center.gif" id="styleAlignCenter"
        .styleFontButton id="alignrightcont"
          img src="/static/images/align_right.gif" id="styleAlignRight"
        .styleFontButton id="styleBoldCont"
          img src="/static/images/bold.png" id="styleBold"
        .styleFontButton id="styleItalicCont"
          img src="/static/images/italic.png" id="styleItalic"          
        .styleFontButton id="styleUnderlineCont"
          img src="/static/images/underline.png" id="styleUnderline"
    
    #image_properties
      button#image_uploader Загрузить изображение
      .hint 
        | Размеры: 
        span.image_size
        br
        | Тип: PNG, JPG, GIF
      .preloader Загружается
      .error 
        span.title Ошибка: 
        span.explanation

    #page_properties
      .paddings
        h3 Отступы страницы:
        .input
          label for="padding_top" Сверху
          input type="number" name="padding_top"
          | px
        .input
            label for="padding_right" Справа
            input type="number" name="padding_right"
            | px
        .input
            label for="padding_bottom" Снизу
            input type="number" name="padding_bottom"
            | px
        .input
            label for="padding_left" Слева
            input type="number" name="padding_left"
            | px
      .color
        h3 Цвет фона:
        .colors
        button.delete_bg Очистить
      .image
        h3 Фоновое изображение:
        button.delete_image Удалить текущее изображение
        button#page_image_uploader Загрузить изображение
        .hint 
          | Размеры: 
          span.image_size
          br
          | Тип: PNG, JPG, GIF
        .preloader Загружается
        .error 
          span.title Ошибка: 
          span.explanation


        / .page_toolbar
        /   .layout
        /     .option.one.selected 1
        /     .option.two 2
        /   .pagination
        /     .prev <
        /     .info Страница 1 из 30
        /     .next >
