doctype html
html
  head
    title Libeditor
    meta http-equiv="Content-Type" content="text/html; charset=utf-8" 
link href="/static/stylesheets/application.css" type="text/css" rel="stylesheet"
  body
    #text_styles
      .blockFonts id="fontSize"
      .blockFonts id="fontColor" style="height: 15px;"
      .blockFonts id="fontFamily" style="height: 30px;"
      #buttonsStyleContainer
        .styleFontButton id="alignleftcont"
          img src="/static/images/align_left.gif" id="styleAlignLeft"
		.styleFontButton id="aligncentercont"
          img src="/static/images/align_center.gif" id="styleAlignCenter"
        .styleFontButton id="alignrightcont"
          img src="/static/images/align_right.gif" id="styleAlignRight"
        .styleFontButton id="styleBoldCont"
          img src="/static/images/bold.png" id="styleBold"
        .styleFontButton id="styleItalicCont"
          img src="/static/images/italic.png" id="styleItalic"          
        .styleFontButton id="styleUnderlineCont"
          img src="/static/images/underline.png" id="styleUnderline"         
	javascript:
    script src="/static/javascripts/test.js" type="text/javascript"